<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Janet Bot Portal</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <main>
        <h1>Welcome to Janet Bot Portal</h1>
        <a href="/login" class="button">Login</a>
        <a href="https://discord.com/oauth2/authorize?client_id=<%= clientId %>&scope=bot&permissions=8" class="button" target="_blank">
            Add Bot to Discord Server
        </a>
    </main>
</body>
</html>